nav {
  display: inline-flex;
}
ol {
  text-decoration: none;
}

*{
  margin: 0px;
  padding: 0px;
  display: block;
  
}

.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}


h1 {
  color: #fd72b3;
  font-family: lato;
  font-weight: bold;
  font-size: 62px;
}

.container{
  align-self: center;
  margin: auto;
  background-color: #fafafa;
  height: 100%;
  width: 65%;
  font-family: lato;
  font-size: 30px;
}

body{
  background-color: #ffe5f1;
}

h2{
  text-align: center;
}

header{
  background-color: #ffe5f1
}

#haut img{
  height: 800px;
  width: 100%;
}

#droite  {
  display: inline-block;
  position: fixed;
  border: 2px solid blue;
  width: 283px;
  height: 571px;
  
}

#gauche  {
  display: inline-block;
  position: fixed;
  border: 2px solid blue;
  width: 304px;
  height: 607px;
}



